$class: 'home';

.#{$class} {
  padding: 0.5rem 1rem;;
}

.#{$class}-wrapper {
  margin: 1rem;
  padding: 1rem;
  background: lighten($color-westar, 7);
  text-align: center;
}

.#{$class}-title {
  font-weight: bold;
  font-size: 120%;
  padding: 0.5rem 1rem;
}

.#{$class}-subtitle {
  font-size: 60%;
}

.#{$class}-quote {
  font-style: oblique;
  font-size: 70%;
  padding: 0.5rem;
}

.image-caption {
  font-size: 40%;
  line-height: 1.5;
  color: lighten(black, 30);
}

img.top-image {
  max-width: 100%;
  border-radius: 0.1rem 0.1rem 0 0;
}

.#{$class}-image {
  border: 0.02rem solid lighten($color-nobel, 15);
  border-radius: 0.1rem;
  background: $color-white;
  padding: 0.1rem 0.1rem 0.5rem 0.1rem;
  margin-bottom: 1rem;
}

// home Personal section

.#{$class}-personal,
.#{$class}-career,
.#{$class}-books,
.#{$class}-videos {
  @extend %content-wrap;
  @extend %article-wrap;
}

.#{$class}-personal-title,
.career-uk-title,
.career-us-title,
.books-title {
  @extend %article-title;
}

.personal-content-item,
.career-uk-item,
.career-us-item {
  @extend %article-item;
}

ul.books-list li {
  &:nth-child(odd){
    background-color: darken($color-ottoman, 5);
  }
  &:nth-child(even) {
    background-color: darken($color-ottoman, 2);
  }
}

ul.books-list {
  list-style-type: disc;
  list-style-position: inside;
  border: 0.05rem solid $color-nobel;
  font-size: 60%;
}

li.books-item {
  text-align: left;
  text-align: justify;
  padding: 0 0.2rem;
}

.#{$class}-author {
  text-align: center;
  border-top: 0.01rem solid $color-nobel;
  padding-top: 0.5rem;
  @extend %article-item;
  font-size: 25%;
  color: lighten(black, 30);
}

a {
  text-decoration: none;
  color: $color-blue;
  &:hover {
    color: $color-red;
  }
}

p.#{$class}-info {
  @extend %content-wrap;
  text-align: justify;
  text-align: center;
}
